<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--SimServer adresses-->
  <FlyServerIP>127.0.0.1</FlyServerIP>
  <FlyServerPort>20445</FlyServerPort>

  <XDServerIP>127.0.0.1</XDServerIP>
  <XDServerPort>20446</XDServerPort>

  <FiveDServerIP>127.0.0.1</FiveDServerIP>
  <FiveDServerPort>20446</FiveDServerPort>

  <!--Server addresses for online games-->
  <Server1>10.51.71.11</Server1>
  <Server2>10.51.71.21</Server2>
  <Server3>0.0.0.0</Server3>

  <!--These options may be overridden by launch arguments, mostly when you run the game through the SimServer-->
  <GameMode>Offline</GameMode><!--Online or Offline-->
  <PlatformType>Desktop</PlatformType><!--XDMotion, FlyMotion, FiveDMotion, Desktop or HTCVive-->

</configuration>